<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
		<title>FirmPet | Delete Account</title>
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/responsive.css" />
	</head>
	<body>
		<section class="auth-section delete-section">
			<img src="/assets/images/cover/sm-cloud.svg" alt="clouds" class="sm-cloud elements" />
			<img src="/assets/images/cover/md-cloud.svg" alt="clouds" class="md-cloud elements" />
			<img src="/assets/images/cover/footprint.svg" alt="footprint" class="top-footprint elements" />
			<img src="/assets/images/cover/footprint.svg" alt="footprint" class="left-footprint elements" />
			<img src="/assets/images/cover/footprint.svg" alt="footprint" class="right-footprint elements" />

			<div class="delete-success-wrap">
				<a href="javascript:void(0)" class="auth-logo-wrap">
					<img src="/assets/images/logo/logo.svg" alt="FirmPet" />
				</a>
				<h1 class="delete-msg">Oops! Something went wrong!</h1>
                <% if(error && error != "") { %>
                    <span class="delete-info"><%= error %> <br> please contact our support team <a href="mailto:support@firmpet.com">support@firmpet.com</a></span>
                <% } %>
			</div>
		</section>
	</body>
</html>
